*{
    background-color: gray;
}

.title {
    color: red;
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;

}
.lists {
    color: green;
    font-size: large;
}